* {
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    margin: 30px auto; /* 让表格居中 */
    border-collapse: collapse;
    border: 2px solid #ddd; /* 整体边框颜色 */
}
th,
td {
    line-height: 40px; /* 行高 */
    border: 1px solid #ddd; /* 每行边框 */
    text-align: center;
    font-size: 16px;
}
th {
    background-color: #007bff; /* 表头背景色 */
    color: #ffffff;
}
/* 这次奇偶行用 class 来写 */
tr.even {
    background-color: #eee; /* 偶数行浅灰色 */
}
tr:hover {
    background-color: #ccc; /* 鼠标悬停时的背景色:蓝色 */
}

button{
    background-color: skyblue;
    border: none;
    border-radius: 12px;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),
    0 17px 50px 0 rgba(0,0,0,.19);
}

/*.lBut{*/
/*    display: inline-block;*/
/*    padding: 15px 25px;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    color:#fff;*/
/*    background-color: #1795bb;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 9px #999;*/
/*}*/
/*.lBut:hover{*/
/*    background-color: rgb(16, 185, 214);*/
/*}*/
/*.lBut:active{*/
/*    background-color: rgb(16, 185, 214);*/
/*    box-shadow: 0 5px #666;*/
/*    transform:translateY(4px);*/
/*}*/
.lBut {
    background-color: #1795bb;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.lBut:hover {
    background-color: #fff;
    color: #1795bb;
    border: 1px solid #ccc;
}

input[type="file"]::file-selector-button {
    background-color: #1795bb;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type="file"]::file-selector-button:hover {
    background-color: #fff;
    color: #1795bb;
    border: 1px solid #ccc;
}