<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heiyu707.dao.ExportDAO">

    <!--根据type查询所有音频文件信息-->
    <select id="findJSONByType" parameterType="String"  resultType="UserFile">
        select id,oldFileName,newFileName,ext,path
        from t_files
        where SUBSTRING_INDEX(type,'/',1) = #{type}
    </select>

</mapper>